body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: rgb(173, 167, 134);
  --spacing: 0.5em;
 word-spacing: 0.2em;
}

.site-logo {
  padding-top: 0.3rem;
  font-weight: 900;
  font-size: clamp(0.5rem, 1.6vw, 1.3rem);
  color: var(--text);
  text-decoration: none;
}

.site-logo svg{
  margin-top:3px ;
  width: 10%;
  min-width: 10px;
  transform:  rotate(-90deg) ;
}
@media only screen and (max-width: 600px) {
  .site-logo .logo-text{
    padding-top: 0.3rem;
    
    display: none;}
}
@media only screen and (min-width: 600px) {
  .site-logo svg{display: none;}
}
.tooltip {
  display:inline-block;
  position:relative;
  
  text-align:left;
}

.tooltip .right {
  min-width:200px; 
  top:180%;
  left:10%;
  margin-left:20px;
  transform:translate(0, -50%);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  font-weight:normal;
  font-size:13px;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgb(117, 106, 53);
  display:none;
}

.tooltip:hover .right {
  display:block;
}




header {
  

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
  transition: background 450ms ease-in;
  background: var(--background);
  color: var(--text);
  box-shadow: 0 3px 20px rgba(black, 0.2);

}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__link {
  
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: clamp(0.6rem, 1.6vw, 2rem);

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: var(--spacing);
    right: var(--spacing);
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }

  
}

.nav-scrolled {
  --text: #333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;

  box-shadow: 0 3px 20px rgba(black, 0.2);
}

.home-intro {
  
  
  height: 70vw;
  width: 90%;
  margin: 0 auto;
  background: rgb(134, 124, 76) url(/tribute/img/Bostrom.jpg);
  background-size:100%;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  padding-top: -5rem;
}
.intro-title{
 margin-top: auto;
 margin-left: 2rem;
 margin-right: 2rem;
  color: white;
  text-align:center;
}
.intro-text{
  
  
  margin: 0 2rem;
  color: white;
  text-align:center;
 
}

.Biography {
  display: block;
  padding: 8rem 0;
  
  text-align: center;
  
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 8rem;
  width: 80%;
}

.fade-in{
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear{
  opacity: 1;
}



.books-title{
  text-align: center;
}


.Books-Section{
  background: rgb(236, 235, 227);
  position: relative;
  margin-top: 6rem;
  padding-top: 8rem;

.Books {
     display:grid;
     grid-gap: 5em;
     justify-content:space-evenly;
     
   
    

    
   img{width:60%; 
     margin:3rem auto;
     
}
    p{
      width: 80%;
      margin: 2rem auto;
   }
   #gsr-img {
     
     order: 3;
}
   #gsr-text{
     order: 4; 
  }

   #hs-img{
     order:7;
}
   #hs-text{
     order:8;

}}
} /*

*/

#img-caption{
  text-align: center;
}

#img-div{
  display: grid;
}
#image{
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  height: auto;
}
   .article-section{
     display: block;
     height:max-content;
    
     margin: 0 auto; }




     .article-container{
      margin: 1rem auto;
      width: 80%;
    
    }




   .media{

      width: 100%;
      margin: 3rem auto;
      text-align: center;
   .media-container
   {
     display: block;

 
   .video-container
   {
    position: relative;
    width: 100vw;
    aspect-ratio: 16/9;
	
    
  
    
} }}

.footer{
  margin: 0 auto;
  padding-right: 80px;
 .footer-text{
  display: none;
  }
    
  ul{
    
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 15px;
    width: 100%;
    
    background-color:var(--bg-ternary) ;
    display: flex;
    justify-content: center;
    list-style:none;
}
  svg{
    padding-top: 1rem;
    margin:0.2rem 0.5rem ;
    height: 2rem;
  }
}








/*--------------------------------large screen ---------------------------------------*/





@media screen and (min-width:1024px){

  .home-intro {
  
  
    height: 40vw;
    width: 60%;
  }


  .site-logo {
    padding-top: 0;
  }

  .Books-Section{ 
    
  .Books{align-items: center;
    img{
      width:50%;      
      margin: 0 auto;
      
    }
      grid-template-columns: 
    minmax(1em, 1fr) repeat(2, minmax(200px, 600px)) minmax(1em,1fr);
  
  #gsr-img {
    order: initial;
  }
     #gsr-text{
      order: initial; 
    }
  
  #hs-img{
    order:initial;
  }
  #hs-text{
    order:initial;
  
  }}
}
.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}

.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}

.from-left , .from-right{
  transition: opacity 255ms ease-in,
  transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear , .from-right.appear{
  transform: translateX(0);
  opacity: 1;
}


.article-container{
  margin: 0 auto;
  width: 60%;

}
.footer{
 
.footer-text{ 




display:block;}
}
}